<h1>Editar Gênero</h1>

<%= render 'form', genero: @genero %>

<%= link_to 'Mostrar', @genero , :class => "btn btn-outline-primary"%> 
<%= link_to 'Voltar', generos_path , :class => "btn btn-outline-primary"%>
