<h1>Editing Hackrom</h1>

<%= render 'form', hackrom: @hackrom %>

<%= link_to 'Show', @hackrom    , :class => "btn btn-outline-primary"%> 
<%= link_to 'Back', hackroms_path    , :class => "btn btn-outline-primary"%>
