<%= provide(:title, 'Home') %>
<div class="home_container container">
    <div class="home_box  row">
    <div class="home_box_title ">
        <h4>Runs</h4 >
        </div>
        <div class="home_space col-sm-6 col-md-12">
            <div class="home_runs  col-sm-6 col-md-12" >
                <div class="home_run col-sm-6 col-md-12 " >
                    <div class="d-flex flex-row-reverse">
                    <div class="d-flex flex-column  p-2 w-100  " >
                    <div class="home_run_title p-2  ">
                        <h4>Super Mario Galaxy 2</h4>
                    </div>
                    <div class="home_run_description p-2 ">
                    <!-- Talvez dividir os itens em duas linhas -->
                    <ul class="home_run_description_list  ">
                    <li class="home_rdl_user home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>User:
                    </li>
                    <li class="home_rdl_position home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>Position:    
                    </li>
                    <li class="home_rdl_time home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>Time:    
                    </li>
                    <li class="home_rdl_categoria home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>Category:    
                    </li>
                    <li class="home_rdl_plataforma home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>Platform:    <!-- Talvez tirar isso para caber todos os itens -->
                    </li>    
                    <li class="home_rdl_link home_rdl_item">
                        <span class="glyphicon glyphicon-print"></span>Link:    
                    </li>
                    </ul>
                    </div>
                    <div class="home_run_post p-2 ">
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        It was a hard run but I did 
                        </div>
                        </div>
                    <div class="home_run_image p-2 d-inline-block  ">
                    <img class="img-thumbnail "
 src="https://dannosekai.files.wordpress.com/2010/03/78773978.jpg" />
             </div>
            </div>
           </div>                                                            
 </div>
         </div>
        </div>
       </div>

