<div class="gameInsertion">                                  
<form class="form-inline">  
<div class ="d-flex jogadas-flex">
<div class="flex-column jogadas-flex-column">
    
<div class="d-flex flex-inline  p-2  " >


        <select class="inputItem jogoSelector form-control" id="jogoSelection">
            <option disabled selected>Jogo</option>
            <option>1</option>
            <option>2</option>
        </select>

    
    
    <select class="inputItem categoriaSelector form-control" id="categoriaSelection">
      <option disabled selected>Categoria</option>
      <option>1</option>
      <option>2</option>
    </select>

    <select class="inputItem linkSelector form-control" id="plataformaSelector">
        <option disabled selected>Plataforma</option>
        <option>1</option>
        <option>2</option>
    </select>
<input class="inputItem timeSelector form-control " type="time" step="00.001" value="00:00:00" id="example-time-input" min="00:00" max="99:59:59,999">

    </div>           

<div class="d-flex flex-inline  p-2 " >
    <input class="inputItem linkSelector form-control " type="url" placeholder="Run Link"id="example-text-input">
  <input class="inputItem linkSelector postItem form-control" rows="3" type="text" placeholder="Fale algo sobre sua Run" id="example-text-input">
    <button type="submit" class="btn btn-primary submitJogada">Inserir </button>
</div>
      
    
    </div>
    </div>
</form>
    </div>
