<h1>Editing Jogada</h1>

<%= render 'form', jogada: @jogada %>

<%= link_to 'Mostrar Jogada', @jogada , :class => "btn btn-outline-primary" %>
<%= link_to 'Retornar', jogadas_path , :class => "btn btn-outline-primary" %>
