<h1>Editando Jogos</h1>

<%= render 'form', jogo: @jogo %>

<%= link_to 'Mostrar', @jogo , :class => "btn btn-outline-primary"%>
<%= link_to 'Voltar', jogos_path , :class => "btn btn-outline-primary"%>
