<%= provide(:title, 'usuarios')%>
<p id="notice"><%= notice %></p>
<div class="container">
<h1>Usuários</h1>

<%= render "tabela_usuarios"%>

<br>

<%= link_to 'Novo Usuario', new_usuario_path , :class => "btn btn-outline-primary"%><br>
</div>

