<p id="notice"><%= notice %></p>
<div class="container">
<h1>Resultado de busca</h1>

<%= render "tabela_usuarios"%>

<br> 

<%= link_to 'Voltar', '/buscar'  , :class => "btn btn-outline-primary"%>
</div>
