<p id="notice"><%= notice %></p>

<h1>Resultado de busca</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>E-mail</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.username %></td> 
        <td><%= usuario.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', '/buscar' %>
