<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.nome %>!</h1>
    <p>Thanks for joining and have a great day! Now sign in and add your runs in our site!</p>
    <p>Your username is: <b><%= @user.username %></b> </p>
    <p>Your password is: <b><%= @user.senha %></b> </p>
  </body>
</html>
