<!DOCTYPE html>
<html>
  <head>
    <title><%=pageTitle(yield(:title))%></title>
    <%= render 'layouts/head' %>
   
  </head>

  <body>
    <%= render 'layouts/header' %> 
   <%= yield %>
  </body>
</html>
